.background {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(circle, #d215e0ff 0%, #232323 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experienceWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.uiWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
